.mdl-layout__header {
    background-color: #6a7481;
    height: 37px;
    margin-bottom: 37px;
}

.mdl-layout__tab {
  height: 37px;
  line-height: 37px;
  color: #e9eaed;
}

.mdl-layout__tab-bar > .custom-tab {

      display: inline-block;
      display: -moz-inline-box;
      *display: inline;
      /* For IE7 */

      width: 33%;
      text-align: center;

}

.mdl-layout__tab:hover {
  color: #fff;
}

.mdl-layout__tab-bar {
    background-color: #a8afb8;
    max-height: 37px;
}

:host ::ng-deep .mdl-layout__tab-bar-container {
    height: 37px;
}

:host ::ng-deep .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
  color: #fff;
}