<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Mathmatica</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <div routerLink="/problems" routerLinkActive #rlap="routerLinkActive" class="custom-tab active-colour-p">
        <a href="#fixed-tab-1" class="mdl-layout__tab" [ngClass]="rlap.isActive?'is-active':''">Problem Sets</a>
      </div>
      <div routerLink="/community" routerLinkActive #rlac="routerLinkActive" class="custom-tab active-colour-c">
        <a href="#fixed-tab-2" class="mdl-layout__tab" [ngClass]="rlac.isActive?'is-active':''">Community</a>
      </div>
      <div class="custom-tab active-colour-t">
        <a href="#fixed-tab-3" class="mdl-layout__tab">Tab 3</a>
      </div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel" id="fixed-tab-1">
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
    </section>
    <router-outlet></router-outlet>
  </main>
</div>
