.mdl-layout__header {
    background-color: #4b4b4b;
    height: 37px;
    margin-bottom: 37px;
}

.mdl-layout__tab {
  height: 37px;
  line-height: 37px;
  color: #b4b4b4;
}

.mdl-layout__tab-bar > .custom-tab {

      display: inline-block;
      display: -moz-inline-box;
      *display: inline;
      /* For IE7 */

      width: 33.4%;
      text-align: center;

}

.mdl-layout__tab:hover {
  color: #4b4b4b;
  text-decoration: none;
}

.mdl-layout__tab-bar {
    background-color: #F8F8F8;
    max-height: 37px;
}

:host ::ng-deep .mdl-layout__tab-bar-container {
    height: 37px;
}

:host ::ng-deep .mdl-layout__tab.is-active {
  color: #fff;
  background-color: #4b4b4b;
}

:host ::ng-deep .active-colour-p .mdl-layout__tab.is-active::after {
  background-color: #ff4d4d;
}

:host ::ng-deep .active-colour-c .mdl-layout__tab.is-active::after {
  background-color: #3ae374;
}

:host ::ng-deep .active-colour-t .mdl-layout__tab.is-active::after {
  background-color: #fff200;
}