<div class="row">
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
  <div class="card clickable">
    <div class="card-block">
      <p class="card-text">
        Bacon ipsum dolor amet strip steak beef ribs rump short ribs kevin filet mignon brisket sausage meatloaf chicken. Boudin
        capicola alcatra, corned beef shoulder hamburger leberkas. Cupim kielbasa sirloin ham hock prosciutto bacon spare
        ribs.
      </p>
    </div>
    <div class="card-img">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Gophercolor.jpg" alt="..." />
    </div>
  </div>
</div>


  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    <div class="card clickable">
      <div class="card-block">
        <p class="card-text">
          Bacon ipsum dolor amet strip steak beef ribs rump short ribs kevin filet mignon brisket sausage meatloaf chicken. Boudin
          capicola alcatra, corned beef shoulder hamburger leberkas. Cupim kielbasa sirloin ham hock prosciutto bacon spare
          ribs.
        </p>
      </div>
      <div class="card-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Gophercolor.jpg" alt="..." />
      </div>
    </div>
  </div>
</div>
