<div class="mdc-layout-grid problem-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">

      <mdc-card class="card_container" [mdcElevation]="1">
        <div class="content">

        </div>

        <div class="info">
          <!-- ... content ... -->
        </div>

        <!-- <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action</button>
          </div>
          <div class="mdc-card__action-icons">
            <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
            <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
          </div>
        </div> -->
      </mdc-card>

    </div>

    <div class="mdc-layout-grid__cell"></div>
    <div class="mdc-layout-grid__cell"></div>
  </div>
</div>
