<div class="mdc-layout-grid problem-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">

      <mdc-card class="card_container" [mdcElevation]="1">
        <div class="content">

        </div>
        <button mdc-fab class="enter-fab">
          <mdc-icon>edit</mdc-icon>
        </button>
        <div class="info">
          <!-- ... content ... -->
        </div>
      </mdc-card>

    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
  </div>
</div>
