.card_container {
    height: 350px;
}

.title_container {
    height: 60px;
}

.info {
    height: 200px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/44/Gophercolor.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
